<!DOCTYPE css>
h1 {color: rgb(86, 204, 137);text-align: center; font-family: Arial, Helvetica, sans-serif;}

p {background-color:rgb(245, 255, 251);padding-block:20px;text-align: center;font-size: medium;margin: 20px;}

.button {color:rgb(255, 255, 255)
; background-color: rgb(86, 204, 137)
; cursor: pointer
;display: block
; text-align: center;position: absolute(bottom 0px)
; background-size: contain; margin: 20px;padding:10px
;}

.p1{background-color: white;}

.button2 {color:gray; border:gray; text-align: center; position: absolute(bottom 0px); margin:20px; cursor:pointer;}