<!DOCTYPE css>
h1 {color:rgb(235, 220, 220); text-align: center; border-style: inset; border-color: rgb(143, 39, 99); border-width: 10px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; background-color: rgb(122, 72, 84); margin: 100px;}

body {background-image:radial-gradient(rgb(193, 255, 255),rgb(179, 230, 255));}

p {color:rgb(235, 220, 220); text-align: center; border-color:rgb(143, 39, 99) ;font-family:cursive; background-color: rgb(122, 72, 84);padding: 20px;outline:rgb(143, 39, 99);border-radius: 10px 10px;border-style: ridge;border-width: 10px; margin: 100px;}

.button {color:rgb(235, 220, 220)
; border-style: inset; border-color:rgb(143, 39, 99)
; background-color: rgb(122, 72, 84)
; cursor: pointer;display: block; text-align: center;position: absolute(bottom 0px); border-width: 4px; background-size: contain; margin: 100px;}

.button:hover {color:rgb(0, 0, 0)
; border-style: outset; border-color:rgb(200, 150, 150)
; border-width: 4px
; background-color: rgb(150, 100, 100)
; cursor: pointer;}

.button:active {color:rgb(138, 61, 61)
; border-style: outset; border-color:rgb(255, 213, 213)
; border-width: 4px
; background-color: rgb(255, 202, 202)
; cursor: pointer;}